/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
    color: #252B42;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------HEADER------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width:479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}

.header__menu {
    margin-left: 133px;
}

@media (max-width:992px) {
    .header__menu {
        margin-left: 80px;
    }
}

@media (max-width:767px) {
    .header__menu {
        margin-left: 40px;
    }
}

@media (max-width:479px) {
    .header__menu {
        margin-left: 20px;
    }
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}


.menu__item:not(:last-child) {
    margin-right: 21px;
}

.menu__link {
    color: #737373;
    font-size: 14px;
    line-height: 171%;
    font-weight: 600;
}

@media (max-width:479px) {
    .menu__link {
        font-size: 16px;
    }
}

/*------------------------------------------------------------------------------*/
/*------------------------------------PAGE------------------------------------*/


.page {
    flex: 1 1 auto;
}

.page__services {}

.page__advantages {}

.page__practice {}

.page__whoweare {}

.page__clients {}

.page__subscribe {}

/*------------------------------------------------------------------------------*/
/*------------------------------------MAIN-BLOCK--------------------------------*/

.main-block {
    position: relative;
}


.main-block__body {
    max-width: 400px;
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
}

@media (max-width:992px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

@media (max-width:479px) {
    .main-block__body {
        padding: 115px 0 160px 0;
    }
}

.main-block__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 137%;
    color: inherit;
}

@media (max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-size: 20px;
    line-height: 150%;
    color: #737373;
    margin: 0 133px 0 0;
    letter-spacing: 0.2px;
}

.main-block__body>*:not(:last-child) {
    margin: 0 0 35px 0;
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    min-height: 48px;
    border-radius: 37px;
    padding: 5px 36px;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    margin: 10px 0;
    text-align: center;
}

@media (max-width:479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

@media (min-width: 479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_orange {
    background: #FF7B47;
    color: #fff;
}

.main-block__button_border {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}


.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width:992px) {
    .main-block__image img {
        opacity: 0.5;
    }
}

/*------------------------------------------------------------------------------*/
/*------------------------------------SERVICES----------------------------------*/

.servives {
    position: relative;
    margin: -111px 0 30px 0;
    z-index: 2;

}

@media (min-width: 670px) {
    .services__body {
        display: flex;
        margin: 0 -15px -30px;
        flex-wrap: wrap;
    }
}

.services__column {
    flex: 0 1 33.333%;

}

@media (min-width: 670px) {
    .services__column {
        padding: 0 15px;
    }
}

@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }

    .services__column:last-child {
        flex: 1 1 100%;
    }

    .services__column:not(:last-child) {
        margin: 0 0 30px 0;
    }

}

.item-service {
    height: 100%;
    padding: 35px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
}


.services__column>* :not(:last-child) {
    margin-bottom: 10px;
}

.item-service__title {
    font-size: 23px;
    font-weight: 700;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
    color: inherit;
}

.item-service__text {
    letter-spacing: 0.1px;
    font-size: 14px;
    font-weight: 500;
    color: #737373;
    line-height: calc(20/14 *100%);
}

.item-service_green {
    background: #0D5C63;
    color: #FFFFFF;
}

.item-service_green .item-service__text {
    color: #FFFFFF;
}

/*------------------------------------------------------------------------------*/
/*-----------------------------------TITLE--------------------------------------*/

.title {
    max-width: 864px;
    margin: 0 auto;
}

.title h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: calc(57/40*100%);
    letter-spacing: 0.2px;
    color: inherit;
    margin: 0 0 10px 0;
}

.title .title__text {
    font-size: 14px;
    line-height: calc(20/14*100%);
    letter-spacing: 0.2px;
    color: #737373;
}

/*
@media (min-width:992px) {
    .title h2 {
        font-size: 34px;
    }
}
*/

@media (min-width: 671px) and (max-width: 991px) {
    .title h2 {
        font-size: 30px;
    }
}

@media (min-width: 320px)and (max-width: 670px) {
    .title h2 {
        font-size: 28px;
    }
}


/*------------------------------------------------------------------------------*/
/*---------------------------------ADVANTAGES-----------------------------------*/


.advantages {
    padding: 100px 0;
    background-color: #fafafa;
}

@media (max-width:992px) {
    .advantages {
        padding: 70px 0;
    }
}

@media (max-width: 670px) {
    .advantages {
        padding: 50px 0;
    }
}


.advantages__title {
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width:992px) {
    .advantages__title .title__text {
        padding: 0 175px;
    }
}

@media (min-width: 671px) and (max-width: 991px) {
    .advantages__title .title__text {
        padding: 0 70px;
    }
}


@media (min-width: 320px)and (max-width: 670px) {

    .advantages__title .title__text {
        padding: 0 15px;
    }
}

.advantages__body {
    display: flex;
    margin: 0 -15px;
}

@media (min-width: 320px) {
    .advantages__body {
        flex-wrap: wrap;
    }

    .advantages__column {
        flex: 0 1 100%;
        margin-bottom: 15px;
    }

}

@media (min-width: 478px) {

    .advantages__column {
        flex: 0 1 50%;
    }

}

@media (min-width:992px) {

    .advantages__column {
        flex: 0 1 25%;
    }

}

.advantages__column {
    padding: 0 15px 0 15px;
}

.item-advantage {
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 30px 0 30px 0;
}

.item-advantage__icon {
    margin-bottom: 10px;
}

.item-advantage__text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24/16*100%);
    letter-spacing: 0.1px;
    color: #737373;
    padding: 0;
    margin: 0;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------PRACTICE----------------------------------*/


.practice {
    padding: 0 0 80px 0;
}

.practice__header {
    text-align: center;
    padding: 45px 0;
}



@media (min-width: 671px) and (max-width: 991px) {
    .practice__header .title__text {
        padding: 0 70px;
    }
}

@media (min-width: 320px)and (max-width: 670px) {
    .practice__header .title__text {
        padding: 0 15px;
    }
}

.practice__body {
    display: flex;
    margin: 0 -20px -30px;
    flex-wrap: wrap;
}

.practice__column {
    flex: 0 1 25%;
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
}

@media (max-width: 1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}

@media (max-width: 630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}

.item-practice {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFFFFF;
}

.item-practice__text-block {
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice__link {
    color: inherit;
}

.item-practice__link:hover {
    text-decoration: underline;
}

.item-practice__title {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(24/16*100%);
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}

.item-practice__text {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(20/14*100%);
    letter-spacing: 0.2px;
    color: #737373;
}

.item-practice__image {
    display: block;
    padding: 0px 0px 60% 0px;
}

/*------------------------------------------------------------------------------*/
/*-----------------------------------WHOWEARE-----------------------------------*/

.whoweare {
    background-color: #FFFFFF;

}

.whoweare__header {
    text-align: center;
}

@media (min-width:992px) {
    .whoweare {
        padding: 100px 0;
    }

    .whoweare__header {
        margin-bottom: 100px;
    }
}

@media (min-width:680px) and (max-width:991px) {
    .whoweare {
        padding: 50px 0;
    }

    .whoweare__header {
        margin-bottom: 50px;
    }
}

@media (max-width:679px) {
    .whoweare {
        padding: 30px 0;
    }

    .whoweare__header {
        margin-bottom: 30px;
    }

}



@media (min-width:992px) {
    .whoweare__header {
        padding: 0 176.5px;
    }
}

@media (min-width: 671px) and (max-width: 991px) {
    .whoweare__header .title__text {
        padding: 0 70px;
    }
}

@media (min-width: 320px)and (max-width: 670px) {
    .whoweare__header .title__text {
        padding: 0 15px;
    }
}


.whoweare__body {
    display: flex;
    align-items: flex-start;
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}

.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}

@media (max-width:950px) {
    .whoweare__body {
        flex-wrap: wrap-reverse;
    }

    .whoweare__content {
        flex: 1 1 100%;
        padding: 0;
    }

    .whoweare__video {
        flex: 1 1 100%;
        margin-top: 50px;
        padding: 0px 0px 56.25% 0px;
    }

}

.whoweare__top {
    margin-bottom: 50px;
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57/40*100%);
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

@media (min-width: 320px) and (max-width: 670px) {
    .whoweare__title {
        font-size: 26px;
    }
}

@media (min-width: 671px) and (max-width: 991px) {
    .whoweare__title {
        font-size: 28px;
    }
}



.whoweare__text {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20/14*100%);
    letter-spacing: 0.2px;
    color: #737373;

}

.whoweare__items {}

.whoweare__item {}

.item-whoweare {
    display: flex;
}

.item-whoweare__icon {
    margin-right: 20px;
}

.item-whoweare:not(:last-child) {
    margin-bottom: 30px;
}

.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}

.item-whoweare__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------CLIENTS-----------------------------------*/



.clients {
    padding: 50px 0;
}

@media (max-width: 767px) {
    .clients {
        padding: 30px 0;
    }
}

.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients__image {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

.clients__image img {
    max-width: 100%;
}


/*------------------------------------------------------------------------------*/
/*-----------------------------------SUBSCRIBE----------------------------------*/



.subscribe {
   
}
.subscribe::before {
    content: " ";
    background-color: #252B42;
    height: 77px;
    z-index: 1;
    max-height: 77px;
    width: 100%;
    position: absolute;
    margin-top: 64px;
}

@media (max-width:468px){
    .subscribe {
        padding: 20px;
        margin: -10px;
    }
}  
.subscribe__container{
    max-width: 986px;
    padding: 30px 50px;
    background-color: #17213C;
    margin: 0 auto;
    position: relative;
    z-index: 2;
} 
 

.subscribe__body {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.subscribe__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 133%;
    line-height: calc(32/24*100%);
    letter-spacing: 0.1px;
    
}


.subscribe__form {
    flex: 0 1 45.63%;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:810px) {

    .subscribe__title {
        margin: 0 50px 0 0;
        flex: 1 1 100%;
    }
    .subscribe__form{
        flex: 1 1 100%;
    }
    .subscribe__title:not(:last-child){
        margin-bottom: 20px;
    }

}


.subscribe__email {
    flex: 1 1 auto;
    background-color: #F9F9F9;
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(28/14*100%);
    letter-spacing: 0.2px;
    padding: 15px;
}
.subscribe__btn{
    flex: 1 1 26%;
    padding: 15px;
    background-color: #FF7B47;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(28/14*100%);
    letter-spacing: 0.2px;
    text-align: center;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------FOOTER------------------------------------*/